<!DOCTYPE html>
<html>
  <head>
    <title>YUAG Collection Search</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="heading">
      <hr />
      <h1>YUAG Collection Search</h1>
      <hr />
    </div>

    {% if no_search_terms %}
    <p>No search terms provided. Please enter some search terms.</p>
    {% endif %}

    <div class="input-form">
      <form action="search" method="get">
        <div class="form-field">
          <label class="label-text">Label</label
          ><input value="{{prev_label}}" type="text" name="l" />
        </div>
        <div class="form-field">
          <label class="label-text">Classification</label
          ><input value="{{prev_classifier}}" type="text" name="c" />
        </div>
        <div class="form-field">
          <label class="label-text">Agent</label
          ><input value="{{prev_agent}}" type="text" name="a" />
        </div>
        <div class="form-field">
          <label class="label-text">Department</label
          ><input value="{{prev_department}}" type="text" name="d" />
        </div>
        <div class="submit-btn">
          <input id="btn" type="submit" value="Search" />
        </div>
      </form>
    </div>

    {% if not no_search_terms %}
    <div class="results">
      <table class="data-table">
        {% if table_data %}
        <thead>
          <tr>
            <th>Label</th>
            <th>Date</th>
            <th>Agents</th>
            <th>Classified As</th>
          </tr>
        </thead>
        {% endif %}
        <tbody>
          {% for row in table_data %}
          <tr onclick="location.href='obj/{{row[0]}}';" style="cursor: pointer">
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>
              {% for agent in row[3] %} {{agent}} <br />
              {% endfor %}
            </td>
            <td>
              {% for classifier in row[4] %} {{classifier}} <br />
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

    <div class="footer">
      <hr />
      CPSC 419 Group #9 Solution
      <br />
      Current time is: {{time}}
      <hr />
    </div>
  </body>
</html>
