<!DOCTYPE html>
<html>
  <head>
    <title>YUAG Collection Search</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div className="heading">
      <hr />
      <h1>YUAG Collection Search</h1>
      <hr />
    </div>

    <div className="input-form">
      <form action="search" method="get">
        <div>
          <label>Label</label
          ><input value="{{prev_label}}" type="text" name="l" />
        </div>
        <div>
          <label>Classification</label
          ><input value="{{prev_classifier}}" type="text" name="c" />
        </div>
        <div>
          <label>Agent</label
          ><input value="{{prev_agent}}" type="text" name="a" />
        </div>
        <div>
          <label>Department</label
          ><input value="{{prev_department}}" type="text" name="d" />
        </div>
        <div class="container">
          <input id="btn" type="submit" value="Search" />
        </div>
      </form>
    </div>

    <div className="results">
      <table id="data-table">
        {% if table_data %}
        <thead>
          <tr>
            <th>Label</th>
            <th>Date</th>
            <th>Agents</th>
            <th>Classified As</th>
          </tr>
        </thead>
        {% endif %}
        <tbody>
          {% for row in table_data %}
          <tr onclick="location.href='obj/{{row[0]}}';" style="cursor: pointer">
            {% for i in range(1, row|length) %}
            <td>{{row[i]}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div className="footer">
      <hr />
      CPSC 419 Group #9 Solution
      <br />
      Today is: {{time}}
      <hr />
    </div>
  </body>
</html>
