<!DOCTYPE html>
<html>
    <h1>Details for obj {{object_id}} </h1>
    <h2>Summary</h2>
    <table>
        <thead>
            <tr>
                <th>Accession No.</th>
                <th>Date</th>
                <th>Place</th>
            </tr>
        </thead>
        <tbody>
            <td>{{ search_response['object']['accession_no'] }}</td>
            <td>{{ search_response['object']['date'] }}</td>
            <td>{{ search_response['object']['place'] }}</td>
        </tbody>
    </table>

    <h2>Label</h2>
    <div>{{ search_response['object']['label']}}</div>

    <h2>Produced By:</h2>
    <table>
        <thead>
            <tr>
                {% for column in search_response['columns_produced_by'] %}
                    <th>{{column}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for agent_info in search_response['agents'][0]%}
                <td>{{agent_info }}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>

    <h2>Classified As</h2>
    <ul>
        {% for classifier in search_response['object']['classifier'] %}
        <li>{{classifier}}</li>
        {% endfor %}
    </ul>

    <h2>Information</h2>
    <table>
        <thead>
            <tr>
                {% for column in search_response['columns_information'] %}
                    <th>{{column}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
                {% for i in range(search_response['object']['ref_type']|length) %} 
                <tr>
                    <td>{{ search_response['object']['ref_type'][i] }}</td>
                    <td>{{ search_response['object']['ref_content'][i] }}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>

    <div className="other-search"">
        Click here to do another
        <a href="/search" search>search</a>
    </div>
</html>